/**
 * @file
 * Subtheme specific CSS.
 */

@font-face {
  font-family: "Playfair";
  src: url("fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
}

.js-form-submit {
  display: none;
}

/* LOGIN PAGE STYLE */

.login-form-container {
  font-size: 30px;
  font-family: "Playfair", sans-serif;
}

#search-block-form {
  display: flex;
  align-items: center;
}

a {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Playfair", sans-serif;
}

.search-container {
  position: relative;
  cursor: pointer;
}

.search-icon {
  /* Styles for the search icon */
  width: 2rem;
  height: 2rem;
}

.search-input {
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.search-input.active {
  opacity: 1;
  visibility: visible;
}

* {
  outline: 1px red !important;
}

a #logo {
  display: none !important;
}
